<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApp8.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WindowsApp8.My.MySettings>
            <setting name="ActiveDrive" serializeAs="String">
                <value />
            </setting>
            <setting name="VerifyScreenXL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerifyScreenXR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerifyScreenYU" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerifyScreenYD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExitScreenXL1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExitScreenXR1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExitScreenYU1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExitScreenYD1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExitScreenXL2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExitScreenXR2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExitScreenYU2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExitScreenYD2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InventoryXL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InventoryXR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InventoryYU" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InventoryYD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxCheckTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="VerifyResolution" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="HexRange" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HealTriggerX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HealTriggerY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrayerTriggerX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrayerTriggerY" serializeAs="String">
                <value>0</value>
            </setting>
        </WindowsApp8.My.MySettings>
    </userSettings>
</configuration>